<html>
<head>
  <title>Business Model Canvas</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#000000">
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/png" href="/assets/icon.png"/>
  <link rel="stylesheet" type="text/css" href="/styles/spicygrid.css"/>
  <script src="/scripts/vue.min.js"></script>
  <script src="/scripts/index.js"></script>
</head>
<body onload="homepage()">
  <img src="/assets/menuon.svg" style="display: none;">
    
  <header>
    <span>Business Model Canvas</span>
    <input type="checkbox" id="menutoggle">
    <label for="menutoggle"></label>
    <nav>
      <a href="https://wiosdesigns.xyz">by WIOS Designs</a>
      <a href="https://github.com/wiosdesigns/businessmodelcanvas/">Code on GitHub</a>
    </nav>
  </header>
  
  <div id="appContainer">
    <section class="grid12 add">
      <div class="box2 onlylarge"></div>
      <input class="box6" type="text" v-model="canvasname" placeholder="(New Canvas Name)">
      <button v-on:click="addnew" class="box2">Create</button>
      <div class="box2 onlylarge"></div>
    </section>
    
    <section class="grid12 item" v-for="c in canvases">
      <div class="box2 onlylarge"></div>
      <div class="box6">
        <h3><a v-bind:href="'/canvas.html#'+c.hash">{{c.name}}</a></h3>
      </div>
      <div class="box4 onlylarge"></div>
    </section>
    
  </div>
  
</body>
</html>
